/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

.maps-container {
  height: 100%;
  width: 100%;
}

#map {
  height: 500px;
  width: 100%;

  img {
    max-width: none;
  }

  label {
    width: auto;
    display:inline;
  }
}

#legend {
  background: white;
  border: solid 1px black;
  padding: 0px 10px 5px 10px;
  text-align: left;

  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
  }

  img {
    display: inline;
  }
}

.point-dates {

  .date-column-header,
  .date-column {
    font-size: .7em;
    text-align: center;
  }
  .date-column {
    border: 1px solid black;
    padding: 2px;
    width: 15px;

    &.selected {
      background-color: white;
    }
  }
}

.feed-filters tr td {
  border: 1px solid black;
  padding: 2px;

  &.selected {
    background-color: white;
  }
}

.filter-label {
  width: 80px;
}
